# These get rid of some warnings related to 
# collections -> collections.abc deprication
git+https://github.com/mcmtroffaes/pathlib2.git@develop#egg=pathlib2

# for wordlist scraping
requests
PyPDF2
